
body{ margin: 0px; text-align: center; }

#pagetop{
	position: fixed;
	top: 0px;
	width:100%;
	height: 120px;
	background: #2C4947;
	color: #FFF;
	font-size: 23px;
  font-family: monospace;
	padding-top: 50px;
	transition: height 0.3s linear 0s, padding 0.3s linear 0s;
	overflow: hidden;
  box-shadow: 0px 1px 3px #000;
}

#menu {
  box-shadow: 0px 1px 3px #000;
}

#pagetop > #menu{
	position: absolute;
	bottom: 0px;
	width:100%;
	background: #2C4947;
	height: 50px;
	transition: height 0.3s linear 0s;
  vertical-align: middle;
}

#wrapper{ margin: 230px 25px 0 25px; }
